@import '../../styles/responsive.scss';
@import '../../styles/general.scss';

.login-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black
}


.login{
    &-welcome-title{
        font-size: 2.9rem;
        margin-bottom: 10px;

        @include mobile-phones{
            font-size: 1.9rem !important;
        }
    }
    &_p_text{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        @include mobile-phones{
            width: 100%;
        }
    }
}
.login-home-container,.login-form-container{
    position: absolute;
}
.login-form-container{
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 78867897;
    @include mobile-phones{
    }
}

.login-form{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin:0 auto;

    @include mobile-phones{
        width: 90%;
    }
   
}
 .login-content-form,.login-content-button, .create-account {
    width: 80%;
    margin: 0 auto;
    @include mobile-phones{
        width: 100%;
    }
}

.login-content{
    background-color: #fff;
    padding: 40px 20px;

    @include mobile-phones{
        padding:15px;
    }
    &-div{
        margin-bottom: 25px;
        @include mobile-phones{
            margin-bottom: 5px;
        }
    }

    @include mobile-phones{
        position: relative;
        top:5px;
    }
}

.login-content-form{
    & .input-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        & label{
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 0;
        }
        & input:not([type='checkbox']){
            padding: 15px;
            background-color: #F6F7FB;
            box-shadow: 0 4px 4px 0 rgba(16, 50, 160, 0.08);
            border-radius: 12px;
        }
    }
}

.remember-me{
    display: flex;
    justify-content: space-between;
    & p{
        color: #1032A0;
        font-weight: 500;
        margin-top: 5px;
        flex:1;
    }
    & .input-box{
        flex-direction: row-reverse;
       justify-content: center;
       align-items: center;
       & label{
           padding-right: 10px;
           display: flex;
           position: relative;
         
           top:4px;
           border: 1px solid red;
       }
       & input{
           margin-right:10px;
           box-shadow: none !important;
       }
    }
}

.login-content-button{
    & button{
        width: 100%;
        margin: 0 !important;
        padding:15px !important;
        border-radius: 12px !important ;
        font-weight: 600  !important;
    }
}

.create-account{
    text-align: center;
    & .create-text{
        color: #EA6215;
        font-weight: 600;
    }
}