.container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
}

select,textarea{
    border: none;
    outline: none;
}
//flex container
@for $i from 1 through 10{
    .flex-#{$i}{
        flex:$i
    }
}

.input-group{
    &-div{
        margin:20px;
    }
    &-flex{
        display: flex;
    }
}
.input-box{
    margin-top: 10px;
    //border-radius: 12px;
    & input,select,textarea{
        padding: 15px 0;
        background-color: #F6F7FB;
        box-shadow: inset 0 4px 4px 0 rgba(16, 50, 160, 0.08);
        height: 100%;
        width: 100%;
        padding:15px;
        border-radius: 12px;
        box-sizing: border-box;
    }
}

