@import '../../styles/responsive.scss';

.nav-button-container{
    .nav-bar{
        display: none;
    }
    @include mobile-phones{
        .btn-container{
            display: none;
        }
        .nav-bar{
            display:block;
            color:#000;
            font-size:20px;
        }
    }
}

.width-reduce{
    @include mobile-phones{
        padding:20px 30px !important;
    }
    
}